body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbaritem {
  justify-content: space-evenly;

  margin-top: 3vh;
  margin-right: 3vw;
  font-size: 150%;
  color: rgb(255, 255, 255);
  
}
.navbar {
  position: absolute;
  top: 0vw;
  left: 0vw;
  height: 7vh;
  width: 100vw;
  z-index: 3;
color: white !important;
box-shadow: 2px 2px 8px 1px #ffffff !important;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6615021008403361) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.7763480392156863) 100%
  );
  overflow: hidden;
  align-items: flex-end;
}

.navbarmobile {
  position: absolute;
  top: 0vw;
  left: 0vw;
  height: 7vh;
  width: 100vw;
  z-index: 3;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6615021008403361) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.7763480392156863) 100%
  );
  overflow: hidden;
  align-items: flex-end;
}

.navbaritem:hover {
  /* font-size: 30px; */
  color: rgba(255, 255, 255, 0.8);
}

.appbg {
  background-color: rgba(255, 255, 255, 0.5);
}

.portfolio:hover {
  background: rgb(195, 98, 34);
  background: linear-gradient(
    156deg,
    rgb(233, 90, 7) 0%,
    rgba(255, 255, 255, 0.6811099439775911) 62%,
    rgba(255, 255, 255, 0.2811099439775911) 80%
  );
}
.portfolioo:hover {
  background: rgb(195, 115, 34);
  background: linear-gradient(
    156deg,
    rgb(197, 130, 64) 0%,
    rgba(255, 255, 255, 0.6811099439775911) 62%,
    rgba(255, 255, 255, 0.2811099439775911) 80%
  );
}
.portfoliooo:hover {
  background: rgb(195, 115, 34);
  background: linear-gradient(
    156deg,
    rgb(240, 217, 10) 0%,
    rgba(255, 255, 255, 0.6811099439775911) 62%,
    rgba(255, 255, 255, 0.2811099439775911) 80%
  );
}



.homecardright {
  font-size: 115%;
  position: absolute;
  top: 15vw;
  left: 55vw;
  height: 60vh;
  width: 30vw;
  z-index: 3;
  border-radius: 50px !important;
  color: white;
  background: rgba(0, 0, 0, 0.5);

  overflow: hidden;
  align-items: flex-end;
}

.homecard {
  border-radius: 50px !important;
}

.homeFirstimgDiv
{
  top: 0vh;
  position: absolute;
  width: 100vw;
}
.homeFirstimg{
  top: 20vh !important;
  z-index: -2 !important;
  width: 100vw;
  height: 100vh;
}
.homeFirstcard{
  position: relative !important;
  left: -1vw;
  top: 2vh;
  min-height: 93vh;
  background-color: rgba(8, 8, 8, 0.574) !important;
  box-shadow: 2px 2px 8px 1px #ffffff !important;
}


.clientCard{
  top: -31vh !important;
  position: relative;
}
.clientCardbg{
  top: -3vh;
  height: 40vh;
  position: relative;
  background-color: rgba(61, 61, 61, 1);
  box-shadow: 2px 2px 8px 1px #ffffff !important;
}
