body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Aboreto" ;
  /* 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  max-width: 100% !important;
  overflow-x: hidden !important;
  background-color: #153a52 !important;
  background-size: 100%;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Aboreto",
    monospace;
}

.player-wrapper {
  position: fixed;
  /* height: 100vh !important; */
  width: 100vw !important;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  top: 0px;
  z-index: -2;
}

@media screen and (max-width: 768px) {
  .react-player {
    visibility: hidden;
    clear: both;
    float: left;
    display: none;
  }
  .destopText {
    visibility: hidden;
    clear: both;
    float: left;
    display: none;
  }
}
@media screen and (min-width: 768px) {
.react-player {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.destopText {
  margin-top: 20vh !important;
  position: relative;
  
}
.homeMobile{
  position: relative;
  top:-20vh;
  width: 100%;
  height: 100vh !important;
  z-index: -2;
}
}

.bgHome{
  background-color: rgba(0, 0, 0, .5);
}